<!-- Barre de navigation en bas de l'écran -->
<div ng-include="'home/nav.html'"></div>
<!-- Ecran de l'ARVE-->
<div class="container" id="ARVE" align="center">
    <h1 class="text-center text-primary">ARVE</h1>
    <div class="row">
        <div id="ARVEWTRChart" class="col-lg-6" ng-controller="ARVEWTRCtrl" align="center">
            <h2 id="WTRTitle" class="text-center text-primary">ARVE WTR</h2>
            <label><input type="radio" name="ARVEWTRVisual" value="Graph" ng-model="radARVEVisual.value" ng-change="displayARVEVisual()">Graph</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <label><input type="radio" name="ARVEWTRVisual" value="Table" checked ng-model="radARVEVisual.value" ng-change="displayARVEVisual()">Table</label>
            <svg id="WTRChart" viewBox="0 0 1000 800" preserveAspectRatio="xMidYMid meet"></svg>
            <label id="WTRChart" align="center"><input type="checkbox" ng-model="checkVac" ng-change="CheckBoxChanged()">Display vacations</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <label id="WTRChart" align="center"><input type="checkbox" ng-model="checkUnknown" ng-change="CheckBoxChanged()">Compensate unknowns</label>
            <div id="WTRTable" viewBox="0 0 1000 800" style="display: none;">
                <h4 id="WTRsubTitle1" class="text-left">Period 1</h4>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS0"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Billable</td align="right"> <td align="right" ng:repeat="arve in tableS0">{{arve.billable |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Proposal</td> <td align="right" ng:repeat="arve in tableS0">{{arve.presales |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Internal work</td> <td align="right" ng:repeat="arve in tableS0">{{arve.ti |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Idle</td> <td align="right" ng:repeat="arve in tableS0">{{arve.idle |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Training</td> <td align="right" ng:repeat="arve in tableS0">{{arve.training |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS0">{{arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Management</td> <td align="right" ng:repeat="arve in tableS0">{{arve.management |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Sickness</td> <td align="right" ng:repeat="arve in tableS0">{{arve.sickness |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Unknown</td> <td align="right" ng:repeat="arve in tableS0">{{arve.unknown |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS0">{{arve.tot+arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE</b></td> <td align="right" ng:repeat="arve in tableS0"><b>{{arve.billable/arve.tot*100|number:2}}%</b></td> </tr>
                    </tbody>
                </table>
                <h4 id="WTRsubTitle2" class="text-left">Period 2</h4>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS1"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Billable</td> <td align="right" ng:repeat="arve in tableS1">{{arve.billable |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Proposal</td> <td align="right" ng:repeat="arve in tableS1">{{arve.presales |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Internal work</td> <td align="right" ng:repeat="arve in tableS1">{{arve.ti |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Idle</td> <td align="right" ng:repeat="arve in tableS1">{{arve.idle |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Training</td> <td align="right" ng:repeat="arve in tableS1">{{arve.training |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS1">{{arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Management</td> <td align="right" ng:repeat="arve in tableS1">{{arve.management |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Sickness</td> <td align="right" ng:repeat="arve in tableS1">{{arve.sickness |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Unknown</td> <td align="right" ng:repeat="arve in tableS1">{{arve.unknown |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS1">{{arve.tot+arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE</b></td> <td align="right" ng:repeat="arve in tableS1"><b>{{arve.billable/arve.tot*100|number:2}}%</b></td> </tr>
                    </tbody>
                </table>
                <h4 id="WTRsubTitle3" class="text-left">Period 3</h4>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS2"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Billable</td> <td align="right" ng:repeat="arve in tableS2">{{arve.billable |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Proposal</td> <td align="right" ng:repeat="arve in tableS2">{{arve.presales |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Internal work</td> <td align="right" ng:repeat="arve in tableS2">{{arve.ti |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Idle</td> <td align="right" ng:repeat="arve in tableS2">{{arve.idle |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Training</td> <td align="right" ng:repeat="arve in tableS2">{{arve.training |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS2">{{arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Management</td> <td align="right" ng:repeat="arve in tableS2">{{arve.management |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Sickness</td> <td align="right" ng:repeat="arve in tableS2">{{arve.sickness |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Unknown</td> <td align="right" ng:repeat="arve in tableS2">{{arve.unknown |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS2">{{arve.tot+arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE</b></td> <td align="right" ng:repeat="arve in tableS2"><b>{{arve.billable/arve.tot*100|number:2}}%</b></td> </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="ARVERetainChart" class="col-lg-6" ng-controller="ARVERetainCtrl" align="center">
            <h2 id="RetainTitle" class="text-center text-primary">ARVE Retain</h2>
            <label><input type="radio" name="ARVEVisual" value="Graph" ng-model="radARVEVisual.value" ng-change="displayARVEVisual()">Graph</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <label><input type="radio" name="ARVEVisual" value="Table" checked ng-model="radARVEVisual.value" ng-change="displayARVEVisual()">Table</label>
            <b>&nbsp; of &nbsp;</b>
            <span ng-dropdown-multiselect="" options="selBoxPeriodData" selected-model="selBoxPeriodModel" extra-settings="selBoxPeriodSettings" events="storeSelection"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>values</b>
            <svg id="RetainChart" viewBox="0 0 1000 800" preserveAspectRatio="xMidYMid meet"></svg>
            <label id="RetainChart" align="center"><input type="checkbox" ng-model="checkVac" ng-change="CheckBoxChanged()">Display vacations</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <label id="RetainChart" align="center"><input type="checkbox" ng-model="checkSim" ng-change="CheckBoxChanged()">Simulate evolution</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <div id="RetainTable" viewBox="0 0 1000 800" style="display: none;">
                <h4 id="RetainSubTitle1" class="text-left">Period 1</h4>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS0"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Firm</td align="right"> <td align="right" ng:repeat="arve in tableS0">{{arve.Firm |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Potential</td> <td align="right" ng:repeat="arve in tableS0">{{arve.Potential |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS0">{{arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS0">{{arve.tot+arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE_F</b></td> <td align="right" ng:repeat="arve in tableS0"><b>{{arve.Firm/arve.tot*100|number:2}}%</b></td> </tr>
                        <tr> <td>ARVE_P</td> <td align="right" ng:repeat="arve in tableS0">{{(arve.Firm+arve.Potential)/arve.tot*100|number:2}}%</td> </tr>
                    </tbody>
                </table>
                <h4 id="RetainSubTitle2" class="text-left">Period 2</h4>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS1"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Firm</tdalign="right"> <td align="right" ng:repeat="arve in tableS1">{{arve.Firm |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Potential</td> <td align="right" ng:repeat="arve in tableS1">{{arve.Potential |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS1">{{arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS1">{{arve.tot+arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE_F</b></td> <td align="right" ng:repeat="arve in tableS1"><b>{{arve.Firm/arve.tot*100|number:2}}%</b></td> </tr>
                        <tr> <td>ARVE_P</td> <td align="right" ng:repeat="arve in tableS1">{{(arve.Firm+arve.Potential)/arve.tot*100|number:2}}%</td> </tr>
                    </tbody>
                </table>
                <h4 id="RetainSubTitle3" class="text-left">Period 3</h4>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS2"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Firm</tdalign="right"> <td align="right" ng:repeat="arve in tableS2">{{arve.Firm |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Potential</td> <td align="right" ng:repeat="arve in tableS2">{{arve.Potential |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS2">{{arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS2">{{arve.tot+arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE_F</b></td> <td align="right" ng:repeat="arve in tableS2"><b>{{arve.Firm/arve.tot*100|number:2}}%</b></td> </tr>
                        <tr> <td>ARVE_P</td> <td align="right" ng:repeat="arve in tableS2">{{(arve.Firm+arve.Potential)/arve.tot*100|number:2}}%</td> </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Four carriage returns to avoid that the view selector overlaps the checkboxes-->
</br></br></br></br>
<script>
    console.log("Page 'ARVE' loaded");
</script>