<!-- Barre de navigation en bas de l'écran -->
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Identified as : {{auth.profile.nickname}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="" ng-click="navigate('')" class="btn-primary btn-block">Home</a>
                </li>
                <li class="active">
                    <a href="" ng-click="navigate('ARVE')" class="btn-primary btn-block">ARVE</a>
                </li>
                <li class="active">
                    <a href="" ng-click="navigate('DISPOS')" class="btn-primary btn-block">Availables</a>
                </li>
                <li class="active">
                    <a href="" ng-click="navigate('NEEDS')" class="btn-primary btn-block">Needs</a>
                </li>
                <li>
                    <a ng-click="logout()" class="btn-warning btn-block">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Ecran de titre de la page (RM Staffing Center)-->
<div id="TOP" class="section cover">
    <div class="cover-image" style="background-image : url('src/img/sky-sunset-night.jpg')"></div>
    <!--div class="cover-image" style="background-image : url('https://unsplash.imgix.net/photo-1422513391413-ddd4f2ce3340?w=1024&amp;q=50&amp;fm=jpg&amp;s=282e5978de17d6cd2280888d16f06f04')"></div-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1 class="text-center text-inverse">RM staffing center</h1>
                <p class="text-inverse">Information hub for the staffing purposes of the CSD AERO Skill Center</p>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- Ecran de l'ARVE-->
<div id="ARVE" class="section container" align="center">
    <h1 class="text-center text-primary">ARVE</h1>
    <div class="row">
        <div id="ARVEWTRChart" class="col-lg-6" ng-controller="ARVEWTRCtrl" align="center">
            <h2 id="WTRTitle" class="text-center text-primary">ARVE WTR</h2>
            <label><input type="radio" name="ARVEWTRVisual" value="Graph" ng-model="radARVEVisual.value" ng-change="displayARVEVisual()">Graph</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <label><input type="radio" name="ARVEWTRVisual" value="Table" checked ng-model="radARVEVisual.value" ng-change="displayARVEVisual()">Table</label>
            <svg id="WTRChart" viewBox="0 0 1000 800" preserveAspectRatio="xMidYMid meet"></svg>
            <label id="WTRChart" align="center"><input type="checkbox" ng-model="checkVac.value" ng-change="displayCat()">Display vacations</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <label id="WTRChart" align="center"><input type="checkbox" ng-model="checkUnknown.value" ng-change="displayCat()">Compensate unknowns</label>
            <div id="WTRTable" viewBox="0 0 1000 800" style="display: none;">
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS0"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Billable</tdalign="right"> <td align="right" ng:repeat="arve in tableS0">{{arve.billable |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Proposal</td> <td align="right" ng:repeat="arve in tableS0">{{arve.presales |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Internal work</td> <td align="right" ng:repeat="arve in tableS0">{{arve.ti |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Idle</td> <td align="right" ng:repeat="arve in tableS0">{{arve.idle |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Training</td> <td align="right" ng:repeat="arve in tableS0">{{arve.training |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS0">{{arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Management</td> <td align="right" ng:repeat="arve in tableS0">{{arve.management |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Sickness</td> <td align="right" ng:repeat="arve in tableS0">{{arve.sickness |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Unknown</td> <td align="right" ng:repeat="arve in tableS0">{{arve.unknown |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS0">{{arve.tot+arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE</b></td> <td align="right" ng:repeat="arve in tableS0"><b>{{arve.billable/arve.tot*100|number:2}}%</b></td> </tr>
                    </tbody>
                </table>
                </br>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS1"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Billable</td> <td align="right" ng:repeat="arve in tableS1">{{arve.billable |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Proposal</td> <td align="right" ng:repeat="arve in tableS1">{{arve.presales |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Internal work</td> <td align="right" ng:repeat="arve in tableS1">{{arve.ti |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Idle</td> <td align="right" ng:repeat="arve in tableS1">{{arve.idle |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Training</td> <td align="right" ng:repeat="arve in tableS1">{{arve.training |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS1">{{arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Management</td> <td align="right" ng:repeat="arve in tableS1">{{arve.management |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Sickness</td> <td align="right" ng:repeat="arve in tableS1">{{arve.sickness |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Unknown</td> <td align="right" ng:repeat="arve in tableS1">{{arve.unknown |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS1">{{arve.tot+arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE</b></td> <td align="right" ng:repeat="arve in tableS1"><b>{{arve.billable/arve.tot*100|number:2}}%</b></td> </tr>
                    </tbody>
                </table>
                </br>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS2"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Billable</td> <td align="right" ng:repeat="arve in tableS2">{{arve.billable |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Proposal</td> <td align="right" ng:repeat="arve in tableS2">{{arve.presales |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Internal work</td> <td align="right" ng:repeat="arve in tableS2">{{arve.ti |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Idle</td> <td align="right" ng:repeat="arve in tableS2">{{arve.idle |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Training</td> <td align="right" ng:repeat="arve in tableS2">{{arve.training |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS2">{{arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Management</td> <td align="right" ng:repeat="arve in tableS2">{{arve.management |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Sickness</td> <td align="right" ng:repeat="arve in tableS2">{{arve.sickness |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Unknown</td> <td align="right" ng:repeat="arve in tableS2">{{arve.unknown |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS2">{{arve.tot+arve.vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE</b></td> <td align="right" ng:repeat="arve in tableS2"><b>{{arve.billable/arve.tot*100|number:2}}%</b></td> </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="ARVERetainChart" class="col-lg-6" ng-controller="ARVERetainCtrl" align="center">
            <h2 id="RetainTitle" class="text-center text-primary">ARVE Retain</h2>
            <label><input type="radio" name="ARVEVisual" value="Graph" ng-model="radARVEVisual.value" ng-change="displayARVEVisual()">Graph</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <label><input type="radio" name="ARVEVisual" value="Table" checked ng-model="radARVEVisual.value" ng-change="displayARVEVisual()">Table</label>
            <svg id="RetainChart" viewBox="0 0 1000 800" preserveAspectRatio="xMidYMid meet"></svg>
            <label id="RetainChart" align="center"><input type="checkbox" ng-model="checkVac.value" ng-change="displayCat()">Display vacations</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <label id="RetainChart" align="center"><input type="checkbox" ng-model="checkSim.value" ng-change="displayCat()">Simulate evolution</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <div id="RetainTable" viewBox="0 0 1000 800" style="display: none;">
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS0"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Firm</tdalign="right"> <td align="right" ng:repeat="arve in tableS0">{{arve.Firm |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Potential</td> <td align="right" ng:repeat="arve in tableS0">{{arve.Potential |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS0">{{arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS0">{{arve.tot+arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE_F</b></td> <td align="right" ng:repeat="arve in tableS0"><b>{{arve.Firm/arve.tot*100|number:2}}%</b></td> </tr>
                        <tr> <td>ARVE_P</td> <td align="right" ng:repeat="arve in tableS0">{{(arve.Firm+arve.Potential)/arve.tot*100|number:2}}%</td> </tr>
                    </tbody>
                </table>
                </br>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS1"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Firm</tdalign="right"> <td align="right" ng:repeat="arve in tableS1">{{arve.Firm |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Potential</td> <td align="right" ng:repeat="arve in tableS1">{{arve.Potential |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS1">{{arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS1">{{arve.tot+arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE_F</b></td> <td align="right" ng:repeat="arve in tableS1"><b>{{arve.Firm/arve.tot*100|number:2}}%</b></td> </tr>
                        <tr> <td>ARVE_P</td> <td align="right" ng:repeat="arve in tableS1">{{(arve.Firm+arve.Potential)/arve.tot*100|number:2}}%</td> </tr>
                    </tbody>
                </table>
                </br>
                <table class="table table-bordered table-hover table-striped">
                    <tbody align="left">
                        <tr> <td></td> <td align="center" ng:repeat="arve in tableS2"><b>{{arve.name}}</b></td> </tr>
                        <tr> <td>Firm</tdalign="right"> <td align="right" ng:repeat="arve in tableS2">{{arve.Firm |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Potential</td> <td align="right" ng:repeat="arve in tableS2">{{arve.Potential |number:2}}&nbsp;</td> </tr>
                        <tr> <td>Vacation</td> <td align="right" ng:repeat="arve in tableS2">{{arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td>TOTAL</td> <td align="right" ng:repeat="arve in tableS2">{{arve.tot+arve.Vacation |number:2}}&nbsp;</td> </tr>
                        <tr> <td><b>ARVE_F</b></td> <td align="right" ng:repeat="arve in tableS2"><b>{{arve.Firm/arve.tot*100|number:2}}%</b></td> </tr>
                        <tr> <td>ARVE_P</td> <td align="right" ng:repeat="arve in tableS2">{{(arve.Firm+arve.Potential)/arve.tot*100|number:2}}%</td> </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Ecran des dispos (Availabilities).
    Attention: L'utilisation de ng-repeat pour simplifier ce code n'est pas possible à cause de la façon dont dragular exploite ng-repeat
-->
<div class="section container" id="DISPOS">
    <div class="col-md-12 ng-scope" ng-app="IdleBoard" ng-controller="IdleCtrl">
        <h1 class="text-center text-primary">
            Availabilities SC
            <select id="SCCombo" ng-model="selectedSC" style="width: 165px" ng-change="changeSC()" ng-init="SkillCenter='FR03CS04 - ASD'" ng-model="SkillCenter">
                <option ng-repeat="item in listSC" value="{{item.value}}">{{item.name}}</option>
            </select>
            SG
            <select id="SGCombo" ng-model="selectedSG" style="width: 165px" ng-change="changeSG()" ng-init="SkillGroup=''" ng-model="SkillGroup">
                <option value=""></option>
                <option ng-repeat="item in listSG" style="background-color: {{item.bgdcol}}" value="{{item.value}}">{{item.name}}</option>
            </select>
        </h1>
        <!-- Week 0 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Current week</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <h3 class="panel-heading panel-title">AMOA</h3>
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[0].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <h3 class="panel-heading panel-title">AUTRES</h3>
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[0].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <h3 class="panel-heading panel-title">EM</h3>
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[0].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <h3 class="panel-heading panel-title">TECH</h3>
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[0].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 1 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+1</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[1].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[1].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[1].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[1].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 2 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+2</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[2].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[2].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[2].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[2].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 3 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+3</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[3].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[3].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[3].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[3].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 4 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+4</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[4].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[4].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[4].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[4].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 5 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+5</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[5].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[5].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[5].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[5].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 6 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+6</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[6].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[6].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[6].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[6].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 7 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+7</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[7].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[7].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[7].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[7].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 8 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+8</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[8].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[8].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[8].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[8].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Week 9 -->
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Week W+9</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[9].items | filter:{RMA: selectedSC} | filter:col1Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[9].items | filter:{RMA: selectedSC} | filter:col2Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[9].items | filter:{RMA: selectedSC} | filter:col3Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-info">
                    <div class="panel-body col2 containerVertical">
                        <div class="card" ng-repeat="item in models.availableList[9].items | filter:{RMA: selectedSC} | filter:col4Filter" ng-include="'home/idleCards.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ecran des besoins (Needs)-->
<div class="section container" id="NEEDS">
    <div class="col-md-12 ng-scope" ng-app="NeedBoard" ng-controller="NeedCtrl">
        <h1 class="text-center text-primary">
            Needs
        </h1>
        <div align="center">
            Practice :
            <span ng-dropdown-multiselect="" options="selBoxPracticeData" selected-model="selBoxPracticeModel" extra-settings="selBoxPracticeSettings" events="onItemSelect(selBoxPracticeModel)"></span>

        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Ouvert</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="col-md-11">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Besoins</h3>
                        </div>
                        <div class="panel-body col6">
                            <div class='containerVertical'>
                                <div class="card" ng-repeat="item in requests.lists | filter:{Statut: 'Ouvert'} | filter:practiceFilter" ng-include="'home/needCards.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Proposition</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="col-md-11">
                    <div class="panel panel-info">
                        <div class="panel-body col6">
                            <div class='containerVertical'>
                                <div class="card" ng-repeat="item in requests.lists | filter:{Statut: 'Proposition'} | filter:practiceFilter" ng-include="'home/needCards.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Entretien</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="card col-md-11 col6 panel panel-info panel-body containerVertical">
                <div ng-repeat="item in requests.lists | filter:{Statut: 'Entretien'} | filter:practiceFilter" ng-include="'home/needCards.html'"></div>
            </div>
        </div>
    </div>
</div>
                </br></br></br></br>
                </br></br></br></br>
                </br></br></br></br>
                </br></br></br></br>
                </br></br></br></br>
<script>
    console.log("Page 'Home' loaded");
</script>