<!-- Barre de navigation en bas de l'écran -->
<div ng-include="'home/nav.html'"></div>
<!-- Ecran des besoins (Needs)-->
<div class="container" id="NEEDS">
    <div class="col-md-12 ng-scope" ng-app="NeedBoard" ng-controller="NeedCtrl">
        <h1 class="text-center text-primary">
            Needs
        </h1>
        <div align="center">
            Origin :
            <span ng-dropdown-multiselect="" options="selBoxPracticeData" selected-model="selBoxPracticeModel" extra-settings="selBoxPracticeSettings" events="storeSelection"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!--MRO 02/09/2016-->
            Proposal :
            <span ng-dropdown-multiselect="" options="selBoxPropaleData" selected-model="selBoxPropaleModel" extra-settings="selBoxPropaleSettings" events="storePropaleSelection"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!--JMD 04/05/2016-->
            <span id="NeedCards" align="center"><input type="checkbox" ng-model="checkUnknown" ng-change="CheckBoxChanged()"> Hide 'NA'</span>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Ouvert</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="col-md-11">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Besoins</h3>
                        </div>
                        <div class="panel-body col6 containerVertical">
                            <div class="card" ng-repeat="item in requests.lists | filter:{Statut: 'Ouvert'} | filter:practiceFilter  | filter:isNAFilter" ng-include="'home/needCards.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Proposition</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="card col-md-11 col6 panel panel-info panel-body containerVertical">
                <div class="card" ng-repeat="item in requests.lists | filter:{Statut: 'Proposition'} | filter:practiceFilter | filter:isNAFilter" ng-include="'home/needCards.html'"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table><tbody><tr><td>Entretien</td></tr></tbody></table>
                    </div>
                </div>
            </div>
            <div class="card col-md-11 col6 panel panel-info panel-body containerVertical">
                <div ng-repeat="item in requests.lists | filter:{Statut: 'Entretien'} | filter:practiceFilter | filter:isNAFilter" ng-include="'home/needCards.html'"></div>
            </div>
        </div>
    </div>
</div>
<script>
    console.log("Page 'Needs' loaded");
</script>